:host {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.spacer {
  min-height: 8em;
}

section {
  max-width: 960px;
}

.nav-item {
  margin-right: 0.5em;
}

.active {
  border-bottom: 3px solid #ff5bff70;
}

@media only screen and (max-width: 600px) {
  :host {
    margin: 0 16px;
  }

  .spacer {
    min-height: 5em;
  }

  .h1-responsive {
    font-size: 2.5em;
  }
}
