<!-- Section: home -->
<section class="text-center my-5" id="section1">
  <div class="spacer"></div>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-4"> We Are ... </h2>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">
    Some enthusiastic & passionate university students who wish to contribute
    to the open-source software world for the sake of everyone.
  </p>

  <!-- Grid row -->
  <div class="row my-4">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-book fa-3x cyan-text"></i>
      <h5 class="font-weight-bold my-4">Learn</h5>
      <p class="mb-md-0 mb-5">
        The computer made a history. <br>We are learning it for making a new future.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-code fa-3x red-text"></i>
      <h5 class="font-weight-bold my-4">Code</h5>
      <p class="mb-md-0 mb-5">
        Coding will feel you alive and<br>make you are breathing.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="far fa-comments fa-3x orange-text"></i>
      <h5 class="font-weight-bold my-4">Support</h5>
      <p class="mb-0">
        The key to open-source is supporting each other and we are here.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: home -->

<!-- Section: projects -->
<section class="text-center my-5" id="section2">
  <div class="spacer"></div>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-4"> Projects </h2>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">
    We have done things and we will do things in the future. No one can stop us.
  </p>

  <div class="d-flex flex-wrap ">
    <div class="col-md-4 mb-4" style="height: 225px;" *ngFor="let repo of repoList | async">
      <mdb-card class="h-100">
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{repo.name}}</h4>
          </mdb-card-title>
          <mdb-card-text>
            {{changeRepoDesc(repo.description)}}
          </mdb-card-text>
          <div class="w-100" style="position:absolute; bottom:75px; left: 0;">
            <div>
              <img src="https://img.shields.io/github/stars/FOSS-UCSC/{{repo.name}}.svg?label=Star&color=green"
                class="mr-1" />
              <img src="https://img.shields.io/github/forks/FOSS-UCSC/{{repo.name}}.svg?label=Fork&color=blue"
                class="mx-2" />
              <img
                src="https://img.shields.io/github/watchers/FOSS-UCSC/{{repo.name}}.svg?label=Watch&maxAge=2592000&color=orange"
                class="ml-1" />
            </div>
          </div>
        </mdb-card-body>
        <mdb-card-footer>
          <a class="px-3" mdbBtn type="button" color="purple" outline="true" size="sm" href="#" mdbWavesEffect>
            View<mdb-icon fas icon="magic" class="ml-1"></mdb-icon>
          </a>

          <a class="px-2" mdbBtn type="button" color="purple" size="sm" href="{{repo.html_url}}" mdbWavesEffect>
            <mdb-icon fab icon="github" size="lg"></mdb-icon>
          </a>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </div>

</section>
<!-- Section: home -->

<!-- Section: contributors -->
<section class="text-center my-5" id="section3">
  <div class="spacer"></div>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-3"> Contributors </h2>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">some enthusiastic & passionate university students who wish to
    contribute to the
    open-source software world for the sake of everyone.
  </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-chart-area fa-3x red-text"></i>
      <h5 class="font-weight-bold my-4">Analytics</h5>
      <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        maiores aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-book fa-3x cyan-text"></i>
      <h5 class="font-weight-bold my-4">Tutorials</h5>
      <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        maiores aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="far fa-comments fa-3x orange-text"></i>
      <h5 class="font-weight-bold my-4">Support</h5>
      <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
        aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: home -->

<!-- Footer -->
<div class="spacer"></div>
<footer class="page-footer w-100 font-small grey mt-5">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> FOSS-UCSC </a>
  </div>
</footer>
