<!-- Navbar -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple fixed-top" id="main-navbar">

  <!-- Nav-brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand rounded shadow px-2 text-dark" href="/">
      <img src="assets/img/logo.png" height="30" alt="logo-image" class="d-inline-block align-bottom">
      FOSS-UCSC
    </a>
  </mdb-navbar-brand>

  <!-- Nav-links / Collapsible -->
  <links>
    <ul class="navbar-nav ml-auto">
      <li [ngClass]="navItemStyles('section1')">
        <a class="nav-link waves-light hoverable pr-4" (click)="scrollTo('section1')" mdbWavesEffect>
          <mdb-icon fas icon="home"></mdb-icon> Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li [ngClass]="navItemStyles('section2')">
        <a class="nav-link waves-light hoverable pr-4" (click)="scrollTo('section2')" mdbWavesEffect>
          <mdb-icon fas icon="project-diagram"></mdb-icon> Projects
        </a>
      </li>
      <li [ngClass]="navItemStyles('section3')">
        <a class="nav-link waves-light hoverable pr-4" (click)="scrollTo('section3')" mdbWavesEffect>
          <mdb-icon fas icon="users"></mdb-icon> Contributors
        </a>
      </li>
      <li [ngClass]="navItemStyles('section4')">
        <a class="nav-link waves-light hoverable pr-4" (click)="scrollTo('section4')" mdbWavesEffect>
          <mdb-icon fab icon="github-alt"></mdb-icon> Organization
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<div class="content" role="main" scrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)" style="height:75vh;overflow-y: auto;">
  <!-- <router-outlet></router-outlet> -->

  <!-- Section: home -->
  <section class="text-center my-5" id="section1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-3">We Are ...</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">some enthusiastic & passionate university students who wish to
      contribute to the
      open-source software world for the sake of everyone.
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-chart-area fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Tutorials</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="far fa-comments fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: home -->

  <!-- Section: projects -->
  <section class="text-center my-5" id="section2">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-3"> Projects </h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">some enthusiastic & passionate university students who wish to
      contribute to the
      open-source software world for the sake of everyone.
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-chart-area fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Tutorials</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="far fa-comments fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: home -->

  <!-- Section: home -->
  <section class="text-center my-5" id="section3">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-3">We Are ...</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">some enthusiastic & passionate university students who wish to
      contribute to the
      open-source software world for the sake of everyone.
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-chart-area fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Tutorials</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="far fa-comments fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: home -->

  <!-- Section: projects -->
  <section class="text-center my-5" id="section4">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-3"> Projects </h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">some enthusiastic & passionate university students who wish to
      contribute to the
      open-source software world for the sake of everyone.
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-chart-area fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Tutorials</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
          maiores aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="far fa-comments fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          aperiam minima assumenda deleniti hic.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: home -->

</div>

<!-- Background clouds -->
<svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
  viewBox="0 0 2611.084 485.677">
  <path id="Path_39" data-name="Path 39"
    d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
    transform="translate(142.69 -634.312)" fill="#eee" />
</svg>

<!-- Footer -->
<footer class="page-footer font-small grey fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> FOSS-UCSC </a>
  </div>
</footer>
